.idea/
tmp/
p4src/build
app/target
app/src/main/resources/p4info.txt
app/src/main/resources/bmv2.json
ptf/stratum_bmv2.log
ptf/p4rt_write.log
ptf/ptf.log
ptf/ptf.pcap
**/*.iml
**/*.pyc
**/*.bak
**/.classpath
**/.project
**/.settings
**/.factorypath
util/.pipe_cfg
